<div class="sidebar">
  <h2>Room Booking</h2>
  <ul>
    <li class="active">Dashboard</li>
    <li><a href="/api/admin/room">Room Management</a></li>
    <li><a href="/api/admin/booking">Booking</a></li>
    <li><a href="/api/admin/user">Users</a></li>
    <li><a href="/api/admin/payment">Payment</a></li>
    <li><a href="/api/admin/logout">Logout</a></li>
  </ul>
</div>
